{
	"$schema": "https://json.schemastore.org/prettierrc",
	"singleQuote": false,
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"proseWrap": "preserve"
}
